
.l-box-center{display:-webkit-box; -webkit-box-align: center; -webkit-box-orient: vertical;flex-flow: column;-webkit-box-pack: center;display:flex;justify-content: center;align-items: center;  }
.l-box-vertical-center{display: -webkit-box;-webkit-box-align: center;display: flex;align-items: center;-webkit-box-orient: horizontal; flex-flow: row;}
.l-box-vertical-center-justify{display: -webkit-box;-webkit-box-orient: horizontal; flex-flow: row; -webkit-box-align: center;-webkit-box-pack: justify;display: flex;align-items: center;justify-content: space-between;}
.l-box-vertical-center-begin{display: -webkit-box;-webkit-box-orient: horizontal; flex-flow: row; -webkit-box-align: center;-webkit-box-pack: start;display: flex;align-items: center;justify-content: flex-start;}
.l-box-vertical-center-end{display: -webkit-box;-webkit-box-orient: horizontal; flex-flow: row; -webkit-box-align: center;-webkit-box-pack: end;display: flex;align-items: center;justify-content: flex-end;}
.l-box-horizontal-center{display: -webkit-box;-webkit-box-pack: center;display: flex;justify-content: center;-webkit-box-orient: horizontal; flex-flow: row;}
.l-trans-center{position: absolute;top:50%;left:50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.l-flex-column{ display:-webkit-box; -webkit-box-orient: vertical; display:flex; flex-flow: column;height: 100% }
.l-flex-row{ display:-webkit-box; -webkit-box-orient: horizontal; display:flex; flex-flow: row; width: 100%}
.l-flex-1{ -webkit-box-flex: 1; flex:1;overflow: hidden;}
.l-scroll-y{overflow: auto;-webkit-overflow-scrolling:touch;}
.l-full{ position: absolute; top:0; left:0; right:0; bottom:0 }
.l-relative{ position:relative;}
.l-z-index-1{z-index: 1}
.l-z-index-2{z-index: 2}
.l-z-index-0{z-index: 0}
.l-w-0{
    width: 0;
}
.l-h-0{
    height: 0;
}
body{
    font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul, li{
    margin:0;
    padding: 0;
    list-style: none;
}
.responsive{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex}

.clear{zoom:1}
.textleft{text-align:left}
.textright{text-align:right}
.textcenter{text-align:center}
.clear:after{content:'';clear:both;display:block;height:0;visibility:hidden}
[data-dpr="1"] .f34{font-size:17px}
[data-dpr="2"] .f34{font-size:34px}
[data-dpr="3"] .f34{font-size:51px}
[data-dpr="1"] .f32{font-size:16px}
[data-dpr="2"] .f32{font-size:32px}
[data-dpr="3"] .f32{font-size:48px}
[data-dpr="1"] .f30{font-size:15px}
[data-dpr="2"] .f30{font-size:30px}
[data-dpr="3"] .f30{font-size:45px}
[data-dpr="1"] .f28{font-size:14px}
[data-dpr="2"] .f28{font-size:28px}
[data-dpr="3"] .f28{font-size:42px}
[data-dpr="1"] .f26{font-size:13px}
[data-dpr="2"] .f26{font-size:26px}
[data-dpr="3"] .f26{font-size:39px}
[data-dpr="1"] .f24{font-size:12px}
[data-dpr="2"] .f24{font-size:24px}
[data-dpr="3"] .f24{font-size:36px}
[data-dpr="1"] .f23{font-size:11.5px}
[data-dpr="2"] .f23{font-size:23px}
[data-dpr="3"] .f23{font-size:34.5px}
[data-dpr="1"] .f22{font-size:11px}
[data-dpr="2"] .f22{font-size:22px}
[data-dpr="3"] .f22{font-size:33px}
[data-dpr="1"] .f20{font-size:10px}
[data-dpr="2"] .f20{font-size:20px}
[data-dpr="3"] .f20{font-size:30px}
[data-dpr="1"] .f18{font-size:9px}
[data-dpr="2"] .f18{font-size:18px}
[data-dpr="3"] .f18{font-size:27px}


/*小标题, 好多页面都用上了， 抽取出来了 start*/
.gl-nav,
.sk-nav,
.zj-nav {
    height: .706667rem;
    line-height: .706667rem;
    background: #efefef;
    color: #242c35;
    position: relative;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    padding: .333333rem .4rem 0 .6133rem
}

[data-dpr="1"] .gl-nav,
[data-dpr="1"] .sk-nav,
[data-dpr="1"] .zj-nav {
    font-size: 12px
}

[data-dpr="2"] .gl-nav,
[data-dpr="2"] .sk-nav,
[data-dpr="2"] .zj-nav {
    font-size: 24px
}

[data-dpr="3"] .gl-nav,
[data-dpr="3"] .sk-nav,
[data-dpr="3"] .zj-nav {
    font-size: 36px
}

.gl-nav:before,
.sk-nav:before,
.zj-nav:before {
    content: '';
    position: absolute;
    left: .4rem;
    top: .533333rem;
    display: block;
    width: .053333rem;
    height: .3067rem;
    overflow: hidden;
    background: #242c35;
    border-radius: .026667rem .026667rem
}

/* 标题头 */
.ui-head a {text-decoration:none;}
.ui-head ul, .ui-head li {list-style:none;}
.ui-head ul, .ui-head li, .ui-head button {margin:0;padding:0;}
.ui-head {width:100%;height:44px;}
.ui-head-in {position:fixed;z-index:100;top:0;left:0;width:100%;height:44px;background:#f63f3f;}
.ui-head-l, .ui-head-r {position:absolute;top:0;height:100%;}
.ui-head-l {left:0;}
.ui-head-m {height:100%;line-height:44px;text-align:center;}
.ui-head-tit {display:inline-block;margin:0;padding:0;font-size:18px;font-weight:bold;color:#FFF;}
.ui-head-tit img {vertical-align:middle;}
.ui-head-tit .ui-head-arrow {-webkit-transition:all .2s linear;transition:all .2s linear;}
.ui-head-tit-on .ui-head-arrow {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.ui-head-r {right:0;}
.ui-head-l span, .ui-head-r span {overflow:hidden;float:left;padding:0 10px;height:100%;line-height:999px;background-repeat:no-repeat;background-position:center center;}
.ui-head-l span:active, .ui-head-r span:active {background-color:#d02427;}

.ui-head-btn1 {width:12px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAlCAMAAACeRoI0AAAAgVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9d3yJTAAAAKnRSTlMAAf73DAjQV045GePCrKSEMSId9OvVj3hvYBH57+fl3MrFtrJ9QyuKaAUZdCBjAAAAy0lEQVQoz22TRxbCMAwFjVIIqUBCQu917n9AFsnuy8vxs8b6loO39lsXrzYMDn51mHNgd6DNhM4+UCwFxw+45YLXKdSJ4MUJe84EzyOiuRob46zGpIJ0LTi/QhULXhbQqDFriXba+mB0CzXWsFmpsYS7Gt8F9GoMNygdHPIUHmMZ0Y6NSjBP4zRd0w9Sgz9jUwz6UFXibMQVXHPP3kyDoIMT0WauvcMGfzChdu13KPeevYfL26v1PXB07a8jtnXtF+jdb1Sam2L4ZeEP2NwRTzi8xTQAAAAASUVORK5CYII=");-webkit-background-size:12px;background-size:12px;}
.ui-head-btn2 {width:17px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAmCAMAAACWCLnmAAAAV1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////+ORg7oAAAAHHRSTlMACvNvunjUpSreEpoi5M3BsIqBZFTHGvbrkEY3qPPPBgAAARNJREFUOMudlEkSgjAQRckMMoMD6rv/OSWEcpO0C9+GruKnkx4rCeUGrW9GVSJ1w4HvJMWlB2vMCF7yM8MavwacIOmZkjHihbeCSZYDwcvX/4wWJMPpXzXY8j3LA4LaA5vgWlKYjYi2VkMoCF4eCHXLwbOQVQvc3tFaQnB5bu8t0OS3K3PTenBqr5wG7VR+0nPQmAZoL4UA/VEwS8TWVQF35nqF/lUV8YzJmNjEaizJWEFoDc2cDCNKLI36Vq7MFeweqApCxJFwFiyyrWXNk4P2yP5YFzWdC2GJv94DMKvqJ0ZDf/2tuQfAdlkzZC31WC5SSyWchofYmIluImvvDC8MiTBqfw2sPPby8vhrBcmLTF6HH77kGWpSWZurAAAAAElFTkSuQmCC");-webkit-background-size:17px;background-size:17px;}
.ui-head-btn3 {width:25px;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAsCAMAAAAQPRtoAAAAV1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////+ORg7oAAAAHHRSTlMA+/PnCNxeMhDPsZV7a0YiGQPHvKd17ruPTUg/tzLqigAAAPJJREFUSMftktuugjAUBWmhUBQsinid///Ok2MsEndtwfhi4npqNx1S1pB9LhtjNsuIUoEqlxAN5Dk0s4HtGuquq2G9nUcUK+htltkeVsUcwu5gX9zYPexsmnAGTn5zAuNSRJXD8NgOkFcJHRpVPrWthSB5QL4krqMKXbWJ6DAuXIgXJHXUXehJV3tBUkdvX6jqQ4KcuQsU8VKNE9+o2liXrXpq5qLR57ixs0ZfpjoSjv1FRkGtrOpVce1IyArDGu7MgBQVkT38/yQ+8eP4NNn1CKAPaeSgAY7XcZRG/OqHiBGTfB6Ryx/yncgkkeEy5P38AelHJLkRvqruAAAAAElFTkSuQmCC");-webkit-background-size:25px;background-size:25px;}
.ui-head-btn4 {width:18px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAlCAMAAAD/XqB2AAAAZlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+Vn2moAAAAIXRSTlMABPz468tjNBQL8+Ad1sGsnZVyRCkB47qMhXpUPSGmWVLn7iUaAAAArUlEQVQ4y+2R2Q7CIBREb+m+UUsXq3Wb//9JI5EQyqIxPhnnBUgO4TCX8DpvMhTOF5ka5yASgVEep2WIOeBIlGEXQFZ0ExH1yLzIWLWlfDGNcw9S1MnTtknmwu27Z4PaD4xHLmaB0AeBxYFccSGdqcNqIXlltlK21Wj7NvYnTV/OTrTJTZal00N4SleR7YfLeExRteGTLOaNr3054rHpa0mEp0yAWv7M7zAyHzB3gR0a0kyIXDcAAAAASUVORK5CYII=");-webkit-background-size:18px;background-size:18px;}
.ui-head-btn5 {width:21px;-webkit-background-size:21px;background-size:21px;}
.ui-head-btn6 {width:22px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAb1BMVEUAAAD09PT29vb09PT09PT09PT09PT09PT09PT09PT09PT////29vb////4+Pj09PT////09PT09PT09PT09PT09PT09PT09PT////09PT4+Pj09PT09PT////////////09PT09PT////09PT///8tfGUWAAAAI3RSTlMAhkb4AajYurEM/jNZ7qAju1Dx7dE9OQd3UotgJhFmzJbz3VqLJgUAAAGfSURBVDjLnVXZkoIwEMxBIMCCF96KR8//f+PqlksHJVRhv0hiF3S6JzPqDbnRPl1Zu0q9NrkaQWKcRQDrTBLj7psnIdNHs9mYo84sgGYxSJ1lQOEXW+5sF74Astkn92eJwp3ed091geXPu1oNpGs1gHUK6KTHvQIucvbcAdeQrYFDEvXoAOhAL1dE/12d7tkSLhn132H570mGNO8ZU19EqvnuTN0pslcWKEIfyou8ULX0pMD+7xsN6pBbidSlUuf2LkKHazRPpQY2yOh8l6p8PV6kYjoFzOPHwStiJ9J93IiY7g8P99BuEdZK+DYlsuueF7D5U8U2lGzaYfLWwiiNTEXQipRcZdDKf4ZHX+a9GL1KcYxyqzKMCqlawQxyd9LnKoOVstgMcWuR+bm3s4GNkA80IiAPyyhFDlxRBg/YE1xRAw84bN2cpoXWMZQomaEw7jiZcbOQehVCi8NCYomOw8Ox+MfA4ue1IkSEC14rXtgImReWrSBGZiuY1GSmtK8pjXFqy53ezDkm6uiY+H4AcbTdONpuAJr9t0Nz0jj+BVPrKqZawMzRAAAAAElFTkSuQmCC");-webkit-background-size:22px;background-size:22px;}
.ui-head-btn7 {width:18px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAXVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9RKvvlAAAAHnRSTlMAF/mI1dk7fQ1WNvWUSgXedm5nIgnOp8IenF8/M7KE1YtXAAABcklEQVQ4y51U2XaFIAxENhVX3Nf5/8+sF0G0pZ6e5gUhYwiTTMg3yylAc/JqKfg4cqSvoBqSEAkWdJaqNWt8B7WqvGMiDtTHqjiNjh0V6thogEc3jMBcgekeiM946BuGaoa4UGV/+CYO0EGeJ3KgAJ8OdO9ulJg/0HS5B1/Sj3uGtAcTqpYEbaro5L41RBfCdBza79hFX1doXbg/igdhDRazJizDYRlLzHZBcwONNDLscVgTrcme9h6zYTBxOLCvXbfugDCxBihb0zoWWE0HALEr4ZmNgojr1HhAmQmUYXexd2QmVEwB5CQTaovsW7A60AoUJ6mb4hnB6J+I5GIIaHzUJ6gLg57XSedQj+vOxGOb+OBAwzNxkjLmKaifFKwQjKVPMgXQ10VR957M7WdZBKxVtixjqMD5WeDcFzjcKk1TJKFW0SaF16Z7b9/2L0JYf5WUuiTFyzdxaivOgMyrU+aV9DL3VsrwwHgdPf8fYu/j8AvMASOkKh7llQAAAABJRU5ErkJggg==");-webkit-background-size:18px;background-size:18px;}
.ui-head-btn8 {width:22px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAjAQMAAAApCVFdAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABNJREFUCNdj+A8EP1BIqgL6mw8ASxIslb0aQgYAAAAASUVORK5CYII=");-webkit-background-size:19px;background-size:19px;}
span.ui-head-txt {font-size:14px;line-height:44px;color:#fff;}
.ui-head-btn9 {width:17px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAlCAMAAAAQnMtIAAAAWlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////9ZMre9AAAAHXRSTlMA0w7MFsOIRDyWGtow68drWqVwXwt8TwPxuuYnjxoFekUAAADbSURBVDjL1c1ZEoJADEXR0AoogzLJaPa/TQ0Qgjx6Ad6/V3Uqoeikhr65IaMlPsmJuPT5ajiNoU5EcC1XwwFBi6BuNkZQENUsRohfPOWOEL9YfiFxDxUy+sEICj04ExSFCSUodByJC0EY8QshKCoVSlDoUHIQmYmNmEhIilUYUZEmh5dGfKIupz1pDkLGnW870oX5TggHMjG/fgSSggsx9hJJlFIrxgSQoSQxJpCMFc1GBZKrDDGpCiAxN0kbDT2rQFLxyByUVezIS9511pGFZOlPSH/xlG/E30o+IsoaKVQQMAYAAAAASUVORK5CYII=");-webkit-background-size:17px;background-size:17px;}
.ui-head-btn10 {width:18px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAmCAMAAACbFsmhAAAAk1BMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////ROyVeAAAAMHRSTlMADvvS9n5l6GlACF9JNCEE7syoo5JVKBXesp844dfHw7mvg04vGwqYinBZFLZ1clYrqZcVAAABQklEQVQ4y43T55KCMBSG4RhAlqJSBbH3tuW9/6vbQXQNCmS/Pxkmz5wDOUR05wM0ogUdnHMSTaLC2mYtaHSZSB6RS89tQN6s2g0Cs3K294qGCzAjb+eWD5l/ygEWwxryA8zNVe2dzoEgVtBWYoxFPW4C8ERTybIn3mKpKLMx6qZfZaagCPOlF0ruzWAjdGhN0BOa7CXWf2Y41KI1odAmJ9Ejiac1PRjoke69v479EmWdaE6srTQyK+R0oQHlWdtsutA3+EIkzEYdKMQ83Or9tJsxROW6wGhHBWzL1af9zHfyUWGFfW02rgHpva9k0oxinjsWzf/dCez936mu4PxGDjGYU2XKIRzdunHmYNaG0VuCMVCnsQbyXcOlXl2yW/epZQAU75fICQFsI8wlAJ9KYZUVNvcY1li0Zuikaer7+/pH/AKqly6cHo/WiAAAAABJRU5ErkJggg==");-webkit-background-size:18px;background-size:18px;}
span.ui-head-btn10:active {background-color:transparent;}
.ui-head-btn10.on {-webkit-animation:fresh .5s linear infinite;animation:fresh .5s linear infinite;-webkit-transform-origin:19px 23px;transform-origin:19px 23px;}
@-webkit-keyframes fresh {
	100% {-webkit-transform:rotate(360deg);}
}
@keyframes fresh {
	100% {transform:rotate(360deg);}
}
